<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customers</title>
</head>


<h4 style="text-align: center">Please enter Name(*min length is smaller than 3)</h4>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
    </tr>
    {% for task in tasks %}
        <tr>
            <td>{{ task.ID }}</td>
            <td>{{ task.Name}}</td>
            <td>{{ task.Age}}</td>
        </tr>
    {% endfor %}
    </table>

    <div class="form">
        <form action="/Name" method="GET">
            <input type="text" name="Name" id="Name">
            <input type="submit" value="Search">
        </form>
    </div>

</html>





